@import '~bootstrap/dist/css/bootstrap.min.css';

* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    padding-bottom: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-text {
    font-size: 4rem;
    margin: 0;
}

#contact-form {
    max-width: 30%;
}

.contact-field {
    height: 4rem;
    width: 30rem;
    margin: 2rem;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid black;
    padding: 1rem;    
}

.contact-field::placeholder {
    font-family: 'Lucida Console', 'Courier New', 'monospace';
    color: black;
    font-size: 1.2rem;
}

#message{
    height: 10rem;
    resize: none;
}

#message::placeholder {
    font-size: 1.4rem;
}

#submit-button {
    height: 4rem;
    width: 15rem;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid black;

}

#about-me-header {
    font-weight: 700;
    font-size: 4rem;
}

.about-me-content {
    font-size: 3rem;
    max-width: 60%;
}

#index-body {
    background-image: url('bg_4.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    padding: 2rem;
}

#links {
    margin: 5rem;
}

#logo-main {
    max-width: 30rem;
}

.subtitles { 
    color: white;
    font-size: 45px;
    margin: 10px 0;
}

.button {
    width: 25rem;
    height: 8rem;
    margin: 3rem 0;
    

}

.button:hover {
    transform: scale(1.05);
    transition: 0.3 ease all;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#scuttle-content-block{
    background-color: white;
}

#about-me {
    text-align: center;
    background-color: rgba(245, 245, 245, 0.4);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
font-size: 3rem;
margin: 0;
text-align: center;
}

h1:hover{
    opacity: 0.8;
    transform: scale(1.04);
}

.all-text {
    font-family: 'Lucida Console', 'Courier New', 'monospace';
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85vw;
    margin: auto;
}

#buckets-column {
    background-color: rgba(134, 16, 13, 0.85);
    padding: .75rem 1.4rem;
    border: 5px solid black;
    border-radius: 10px;
    margin: 1rem;
    position: relative;
}


#full-buckets-timeline-column{
    background-color: rgba(134, 16, 13, 0.85);
    padding: .75rem 1.4rem;
    border: 5px solid black;
    border-radius: 10px;
    margin: 1rem;    
}

#profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bucket-block {
    background-color: white;
    border: 2px solid black;
    margin: 20px 0;
    padding: 0.8rem 2rem;
    border-radius: 12px;
}

.bucket-block:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#user-identifiers {
    display: inline-block;
    flex-direction: column;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    margin: auto;
    border: 0.20rem solid black;
}

#user-display-name {
    font-size: 3rem;
    margin: 0;
}

#subprofile-info {
    display: flex;
    margin: 1rem auto;
}

.identifying-numbers{
    margin: .5rem;
    background-color: #D1D1D1;
    padding: 0.75rem;
    border-radius: 15px;
    max-width: 85%;
    border: 0.15rem solid black;
}

.divider {
    height: 4px;
    background-color: black;
    width: 80vw;
    margin: 2rem;
}

#buckets-header {
    text-align: center;
    font-size: 2.7rem;
    border: 2px solid black;
    border-radius: 12px;
    padding: 1rem;
    width: 50%;
    min-width: fit-content;
    height: 7rem;
    /* height: auto; */
    margin: auto;
}

#buckets-header:hover {
    cursor: pointer;
    transform: scale(1.05);
}

a {
    color: inherit;
    text-decoration: none;
}

.in-dev {
    background-color: white;
    color: black;
    width: 100vw;
    font-weight: 800;
    font-size: 38px;
    text-align: center;
}

/* Temporarily offline while i figure some stuff out #create-bucket {
    height: 2rem;
    width: 5rem;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
} */ 

#bucket-button {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
}

.new-bucket-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.edit-description-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.new-bucket-content {
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 25px;
    background-color: rgb(100, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.edit-profile-description-content {
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 25px;
    background-color: rgb(100, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}


.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}


#new-bucket-header {
    font-size: 40px;
}

#edit-profile-description-header {
    font-size: 40px;
}

#new-bucket-text {
    height: 70%;
    width: 80%;
    border-radius: 20px;
    border: 4px solid grey;
    background-color: #f2f2f2;
    margin-top: 1rem;
    padding: 2rem;
    font-size: 22px;
    font-weight: 800;
}

#edit-profile-description-text {
    height: 70%;
    width: 80%;
    border-radius: 20px;
    border: 4px solid grey;
    background-color: #f2f2f2;
    margin-top: 1rem;
    padding: 2rem;
    font-size: 22px;
    font-weight: 800;
}

#dump-bucket-button {
    height: 80px;
    width: 160px;
    background-color: grey;
    border-radius: 20px;
    border: none;
    margin: 2rem;
}

#dump-bucket-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}


#save-profile-description-button {
    height: 80px;
    width: 160px;
    background-color: grey;
    border-radius: 20px;
    border: none;
    margin: 2rem;
    font-size: 25px;
    font-weight: 700;
}

#save-profile-description-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#search-link:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#followers-list-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.show-follower-list-window-content {
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    height: fit-content;
    min-height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 25px;
    background-color: rgb(100, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

}

.follower-div {
    border-radius: 25px;
    background-color: #f2f2f2;
    border: 2px solid black;
    padding: 0.5rem;
    margin: 0.75rem 3rem;
    width: 50%;
    height: 3rem;
    display: flex;
    align-items: center;
    
}

.follower-list-username-text {
    font-size: 2rem;
    margin: 1rem;
}

.follower-div:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#show-followers-window-header {
    font-size: 48px;
}

.popup-header-background  {
    width: 85%;
    height: 5rem;
    background-color: grey;
    border-radius: 25px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    margin: 1rem;
    margin-bottom: 1.5rem;
}

#following-list-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.show-following-list-window-content {
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    height: fit-content;
    min-height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 25px;
    background-color: rgb(100, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

}

.following-div {
    border-radius: 25px;
    background-color: #f2f2f2;
    border: 2px solid black;
    padding: 0.5rem;
    margin: 0.75rem 3rem;
    width: fit-content;
    min-width: 50%;
    height: 3rem;
    display: flex;
    align-items: center;
    
}

.following-list-username-text {
    font-size: 2rem;
    margin: 1rem;
}

.following-div:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#show-following-window-header {
    font-size: 48px;
}

#logout-and-search-div {
    display: flex;
}

#logout-button:hover {
    cursor: pointer;
    transform: scale(1.01);
}
#following-count:hover {
    cursor: pointer;
    transform: scale(1.03);
}

#follower-count:hover {
    transform: scale(1.03);
    cursor: pointer;
}

#profile-description:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.nav-button {
    border-radius: 15px;
    text-align: center;
    align-items: center;
    margin: 1.5rem;
    border: 0.15rem solid black;
    background-color: #D1D1D1;
    width: 16rem;
    height: 6rem;
    padding: 1rem;
}

.nav-button h4 {
    font-size: 30px;
}
    
.nav-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#header-buttons {
    display: flex;
    justify-content: center;
    margin: 1rem 4rem;
    min-width: 60vw;
}

#timeline-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#logout-button:hover {
    transform: scale(1.05);
}

#follow-user-button {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
}


#unfollow-user-button {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    background-color: green;
}

#timeline-view-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.view-button {
    border-radius: 15px;
    text-align: center;
    align-items: center;
    margin: 1rem;
    border: 0.15rem solid black;
    width: 48%;
    height: 10rem;
    padding: 1rem;
}

.view-button h4 {
    font-size: 30px;
}
    
.view-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.active-timeline-button{
    border-radius: 15px;
    text-align: center;
    align-items: center;
    margin: 1rem;
    border: 0.15rem solid black;
    width: 48%;
    height: 10rem;
    padding: 1rem;
    font-size: 42px;
    background-color: #D1D1D1;
    scale: 1.05;
}

.inactive-timeline-button{
    border-radius: 15px;
    text-align: center;
    align-items: center;
    margin: 1rem;
    border: 0.15rem solid black;
    width: 48%;
    height: 10rem;
    padding: 1rem;
    font-size: 30px;
    scale: 0.8;
    background-color: grey;
}

.inactive-timeline-button:hover {
    transform: scale(1.05);
}



.search-container {
    width: 80vw;
    min-height: 80vh;
    border-radius: 25px;
    max-width: 500px;
    text-align: center;
    background-color: rgb(100, 20, 20);
    border: 4px solid black;
}

.search-bar {
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 10px 20px;
    width: 80%;
    color: black;
    border: none;
    font-size: 16px;
    outline: none;
    border: 2px solid grey;
    margin: 2rem;
}

.search-bar:hover {
    transform: scale(1.02);
}

.search-button {
    height: 4rem;
    width: 12rem;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.7rem;
    cursor: pointer;
    background-color: #C1C1C1;
}

.search-button:hover {
    background-color: #C1C1C1;
    transform: scale(1.05);
}


.found-user {
    border-radius: 25px;
    background-color: #f2f2f2;
    border: 2px solid black;
    padding: 0.3rem;
    width: 60%;
    height: 4rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.found-user:hover {
    cursor: pointer;
    transform: scale(1.03);
}


.found-username {
    font-size: 2rem;
    margin: 1rem;
}

.follow-button {
    color: white;
    border: none;
    border-radius: 18px;
    /* padding: 10px 20px; */
    font-size: 1.5rem;
    background-color: grey;
    border: 2px solid black;
    transition: ease all;
    width: 30%;
    margin: 0.5rem;
}

.unfollow-button {
    color: white;
    border: none;
    border-radius: 18px;
    /* padding: 10px 20px; */
    font-size: 1.5rem;
    background-color: grey;
    border: 2px solid black;
    transition: ease all;
    width: 30%;
    margin: 0.5rem;
}

.follow-button:hover {
    cursor: pointer;
    transform: scale(1.08);
}

#search-header-box {
    border-radius: 15px;
    text-align: center;
    align-items: center;
    border: 0.15rem solid black;
    margin: 2rem;
    background-color: #C1C1C1;
    padding: 1rem;
}

.search-nav-button {
    border-radius: 15px;
    text-align: center;
    align-items: center;
    margin: auto;
    border: 0.15rem solid black;
    margin: 0rem 0.3rem;
    background-color: #C1C1C1;
    width: 30%;
    height: 4rem;
}

.search-nav-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.matching-user-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.success-message {
    font-size: 1rem;
    font-weight: 700;
}

.success-message-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 200, 0, 0.8);
    border-radius: 12px;
    height: 3rem;
}

.sixteen-charachter-plus-username {
    font-size: 1.6rem;
    margin: 1rem;
}

.eighteen-charachter-plus-username {
    font-size: 1.5rem;
    margin: 1rem;
}


.twenty-charachter-plus-username {
    font-size: 1.3rem;
    margin: 1rem;
}


.twenty-two-charachter-plus-username {
    font-size: 1.1rem;
    margin: 1rem;
}


.twenty-four-charachter-plus-username {
    font-size: 1rem;
    margin: 1rem;
}


.twenty-six-charachter-plus-username {
    font-size: 0.8rem;
    margin: 1rem;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 25px;
    max-height: 80%;
    overflow-y: auto;
}

.modal-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}
.bucket-display-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.88);
}

.bucket-display-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(100, 20, 20);
    border-radius: 25px;
    max-height: 80%;
    min-height: 40%;
    width: 50%;
    padding: 1.5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid darkslategrey;

}

.bucket-display-header-container {
    display: flex;
    width: 100%;
    margin: 0;
    min-height: 4rem;
    justify-content: center;
    align-items: center;
    background-color: #D1D1D1;
    border-radius: 15px;
    font-size: 2rem;
}
.bucket-display-text-content-container {
    display: flex;
    width: 90%;
    margin: 0;
    height: 50%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #D1D1D1;
    border-radius: 15px;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.bucket-display-action-buttons-container {
    width: 90%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem;
}

.action-button {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border: 0.15rem solid black;
    background-color: grey;
    width: 12rem;
    height: 3rem;
    padding: 1rem;
    font-size: 26px;
    font-weight: 700;
}

.action-button p {
    text-align: center;
}

.action-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.add-comment-text-content-container {
    display: flex;
    width: 90%;
    margin: 2rem;
    min-height: 6rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #D1D1D1;
    border-radius: 15px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.comment-display-header-container {
    display: flex;
    width: 80%;
    margin: 1rem;
    height: fit-content;
    min-height: 4rem;
    justify-content: center;
    align-items: center;
    background-color: #D1D1D1;
    border-radius: 15px;
    font-size: 2rem;
    padding: 0.5rem;
}

.show-comment-block {
    min-height: fit-content;
    width: 80%;
    background-color: #D1D1D1;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 1rem;
    border-radius: 15px;
    padding: 1rem;
}

.comment-author {
    font-size: 1.3rem;
    margin: 0.5rem;
}

.comment-time {
    font-size: 0.8rem;
    margin: 0.5rem;

}

.comment-text {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0.5rem;
}

.animal-count-container {

}

.display-create-comment-header {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #D1D1D1;
    border-radius: 15px;
    font-size: 2rem;
    padding: 0.5rem;
}