* {
    margin: 0;
    padding: 0;
}
#content {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}
.barnyard-header-div {
    background-color: grey;
    text-align: center;
    padding: 1rem;

}

.all-text {
    font-family: 'cursive', 'Lucida Console', 'Courier New', 'monospace';
}

.bold-text {
    font-weight: 900;
}

#content-body  {
    display: flex;
    height: 100%;
    width: 100vw;
}

#left-sidebar {
    background-color: rgb(101, 67, 33);
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-display {
    width: 60%;
    height: 100%;
    background-color: rgb(100, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1rem;
}

#right-sidebar {
    width: 20%;
    height: 100%;
    background-color: rgb(101, 67, 33);
}
.message-box {
    width: 80%;
    background-color: #D1D1D1;
    margin-left: 0.75rem;
    border-radius: 25px;
    padding: 1rem;
    border: 2px solid black;
}

.sent-message-box {
    width: 80%;
    background-color: grey;
    border-radius: 25px;
    padding: 1rem;
    border: 2px solid black;
}

.message-box-container {
    width: 95%;
    display: flex;
    align-items: end;
    justify-content: start;
    margin: 1rem 0.5rem;
}

.sent-message-box-container {
    width: 95%;
    display: flex;
    align-items: flex-end;
    margin: 1rem 0.5rem;
    justify-content: end;
}

#message-send-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}

#posted-messages-container {
    height: 70%;
    width: 95%;
    border-radius: 25px;
    border: 2px solid grey;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

#message-input {
    height: 2rem;
    width: 30rem;
    padding: 1rem;
    border-radius: 15px;
    border: 2px solid black;
    background-color: #D1D1D1;
}

#message-send-button {
    height: 3rem;
    width: 8rem;
    margin-left: 1rem;
    background-color: grey;
    border: 2px solid black;
    border-radius: 12px;
}

.nav-button {
    border-radius: 15px;
    text-align: center;
    align-items: center;
    margin: 1.5rem;
    border: 0.15rem solid black;
    background-color: tan;
    width: 6rem;
    height: 4rem;
    padding: 1rem;
}
   
.nav-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.action-button {
    border-radius: 15px;
    text-align: center;
    align-items: center;
    margin: 0.5rem;
    margin-top: 1rem;
    border: 0.15rem solid black;
    background-color: tan;
    width: 10rem;
    max-width: 40%;
    height: 3rem;
    padding: 0.5rem;
}
   
.action-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}


.action-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

#membership-header {
    background-color: grey;
    font-size: 28px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 15px;
}

#membership-window {
    height: fit-content;
    width: 70%;
    min-height: 120px;
    max-height: 60%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #D1D1D1;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    overflow-y: auto;
}

.info-window {
    height: fit-content;
    width: 70%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #D1D1D1;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    overflow-y: auto;  
}

.barnyard-animal-container {
    width: 90%;
    padding: 0.5rem;
    border-radius: 15px;
    background-color: grey;
    margin: 1rem 0;
}

.post-data-block {
    margin: 0.5rem;
    max-width: 85%;
}

.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(100, 20, 20);
    border-radius: 25px;
    max-height: 80%;
    overflow-y: auto;
    min-height: 60%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid black;
    overflow-x: hidden;
}

.modal-content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: grey;
    border: 2px solid black;
    width: 85%;
    min-height: 75%;
    margin: 2rem;
    border-radius: 20px;
}

.modal-content-piece {
    margin: 1rem;
    height: 4rem;
    width: 70%;
    border-radius: 12px;
    font-size: 30px;
    border: none;
}

.modal-header {
    background-color: grey;
    padding: 1.5rem;
    width: 100%;
    text-align: center;
}

.modal-header-content {
    font-size: 32px;
}

.interior-element {
    background-color: grey;
    border-radius: 15px;
    padding: 1rem;
    width: 50%;
    text-align: center;
}